<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Alpha Male es un centro especializado en entrenamiento de artes marciales, donde 
            combinamos tradición, disciplina y técnica para ayudarte a alcanzar tus objetivos físicos y mentales. Damos clases 
            de judo, karate, taekwondo, boxeo, MMA, etc.. para todas las edades y niveles, desde principiantes hasta avanzados.">
        <meta name="keywords" content="gimnasio, artes marciales, boxeo, lucha, mma, muai thai, karate, judo, jiu jitsu, kick boxing">
        <meta name="locality" content="Barcelona, cataluña, España, europa">
        <title>Contacto Alpha Male</title>
        <link rel="stylesheet" href="../CSS/contacto.css">
        <link rel="canonical" href="./index.html">
    </head>
    <body>
        <div class="head">
            <nav>
                <a class="inicio" href="../index.html">INICIO</a>
                <a class="disciplinas" href="../VIEWS/disciplinas.html">DISCIPLINAS</a>
                <a class="informacion" href="../VIEWS/informacion.html">INFORMACIÓN</a>
                <a class="contacto" href="../VIEWS/contacto.html">CONTACTO</a>
            </nav>
            <header>
                <img src="../IMAGES/LOGO.png" alt="Badfame Fight Club" width="200" height="200">
            </header>
        </div>
        <div class="contenedor">
            <div class="tipografia">
                <img src="../IMAGES/tipopng35.png" alt="tipografia alpha">
            </div>
            <h4>¡Estamos aquí para ayudarte!</h4>
            <p>En <strong>Alpha Male</strong>, nos encantaría saber de ti y responder cualquier pregunta que tengas sobre nuestras clases, 
                horarios, precios o cualquier otro aspecto de nuestros entrenamientos. No dudes en ponerte en contacto con nosotros, 
                ya sea para comenzar tu viaje en las artes marciales o para resolver cualquier duda.</p>
            <div class="mapa">
                <div>
                    <h3>Datos de contacto:</h3>
                    <ul>
                        <li><strong>Direccion:</strong> <a href="https://www.google.es/maps/?hl=es">C/ficticia 8 (08031) Barcelona</a></li>
                        <li><strong>Teléfono:</strong> 935864520</li>
                        <li><strong>Correo electrónico:</strong> correoelectonico@gmail.com</li>
                    </ul>
                </div>
                <div class="image">
                    <a href="https://www.google.es/maps/?hl=es"><img src="../IMAGES/mapa.jpeg" alt="Mapa de distrito" width="600" height="250"></a>
                </div>
            </div>
            <h3>¿Tienes alguna pregunta?</h3>
            <p>¡No dudes en contactarnos! Estamos aquí para ayudarte. Ya sea por teléfono, correo electrónico o mensaje directo a través de 
                nuestras redes sociales, estaremos encantados de responderte y brindarte toda la información que necesitas para dar el 
                siguiente paso en tu entrenamiento.</p>
            <h4>¡Contáctanos ahora y empieza tu entrenamiento hoy mismo!</h4>
        </div>
        <footer>
            <ul>
                <li><a href="https://www.instagram.com/"><img src="../IMAGES/instagram.png" alt="instagram" width="20" height="20"></a></li>
                <li><a href="https://es-es.facebook.com/"><img src="../IMAGES/facebook.png" alt="facebook" width="20" height="20"></a></li>
                <li><a href="https://x.com/"><img src="../IMAGES/twitter.png" alt="twitter" width="20" height="20"></a></li>
                <li><a href="https://www.youtube.com/"><img src="../IMAGES/youtube.png" alt="youtube" width="20" height="20"></a></li>
            </ul>
            <p>©2021 Alpha Male Barcelona <br> <a href="#">Legal Notice</a> – <a href="#">Privacy Policy</a> – <a href="#">Cookies Policy</a></p>
        </footer>
    </body>
</html>