<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Alpha Male es un centro especializado en entrenamiento de artes marciales, donde 
            combinamos tradición, disciplina y técnica para ayudarte a alcanzar tus objetivos físicos y mentales. Damos clases 
            de judo, karate, taekwondo, boxeo, MMA, etc.. para todas las edades y niveles, desde principiantes hasta avanzados.">
        <meta name="keywords" content="gimnasio, artes marciales, boxeo, lucha, mma, muai thai, karate, judo, jiu jitsu, kick boxing">
        <meta name="locality" content="Barcelona, cataluña, España, europa">
        <title>Disciplinas Alpha Male</title>
        <link rel="stylesheet" href="../CSS/disciplinas.css">
        <link rel="canonical" href="./index.html">
    </head>
    <body>
        <div class="head">
            <nav>
                <a class="inicio" href="../index.html">INICIO</a>
                <a class="disciplinas" href="../VIEWS/disciplinas.html">DISCIPLINAS</a>
                <a class="informacion" href="../VIEWS/informacion.html">INFORMACIÓN</a>
                <a class="contacto" href="../VIEWS/contacto.html">CONTACTO</a>
            </nav>
            <header>
                <img src="../IMAGES/LOGO.png" alt="Badfame Fight Club" width="200" height="200">
            </header>
        </div>
        <div class="tipografia">
            <img src="../IMAGES/tipopng35.png" alt="tipografia alpha">
        </div>
        <div class="contenedor">
            <div>
                <img src="../IMAGES/mma.jpg" alt="mma" width="450" height="320">
                <p><strong>Artes Marciales Mixtas</strong></p>
            </div>
            <div>
                <img src="../IMAGES/boxeo.jpg" alt="boxeo" width="450" height="320">
                <p><strong>Boxeo</strong></p>
            </div>
            <div>
                <img src="../IMAGES/kickboxing.jpg" alt="kick boxing" width="450" height="320">
                <p><strong>Kick Boxing</strong></p>
            </div>
            <div> 
                <img src="../IMAGES/muay-thai.jpg" alt="muay thai" width="450" height="320">
                <p><strong>Muai Thai</strong></p> 
            </div>
            <div>
                <img src="../IMAGES/grappling.jpg" alt="grappling" width="450" height="320">
                <p><strong>Grappling</strong></p>
            </div>
            <div>
                <img src="../IMAGES/jiu-jitsu.jpg" alt="jiu jitsu" width="450" height="320">
                <p><strong>Jiu-Jitsu</strong></p>
            </div>
            <div>
                <img src="../IMAGES/lucha.jpg" alt="lucha" width="450" height="320">
                <p><strong>Lucha Libre</strong></p>
            </div>
            <div>
                <img src="../IMAGES/judo.jpg" alt="judo" width="450" height="320">
                <p><strong>Judo</strong></p>
            </div>
            <div>
                <img src="../IMAGES/taekwondo.jpg" alt="taekwondo" width="450" height="320">
                <p><strong>Taekwondo</strong></p>
            </div>
            <div>
                <img src="../IMAGES/karate.jpg" alt="karate" width="450" height="320">
                <p><strong>Karate</strong></p>
            </div>
        </div>
        <footer>
            <ul>
                <li><a href="https://www.instagram.com/"><img src="../IMAGES/instagram.png" alt="instagram" width="20" height="20"></a></li>
                <li><a href="https://es-es.facebook.com/"><img src="../IMAGES/facebook.png" alt="facebook" width="20" height="20"></a></li>
                <li><a href="https://x.com/"><img src="../IMAGES/twitter.png" alt="twitter" width="20" height="20"></a></li>
                <li><a href="https://www.youtube.com/"><img src="../IMAGES/youtube.png" alt="youtube" width="20" height="20"></a></li>
            </ul>
            <p>©2021 Alpha Male Barcelona <br> <a href="#">Legal Notice</a> – <a href="#">Privacy Policy</a> – <a href="#">Cookies Policy</a></p>
        </footer>
    </body>
</html>